<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.taotao.mapper.StudentMapper" >
  <insert id="insert">
    insert into student(name,mobile) VALUES (#{name},#{mobile})
  </insert>

  <select id="getByName" resultType="com.taotao.pojo.Student">
      SELECT * from student where name = #{name}
  </select>
  <select id="getByMobile" resultType="com.taotao.pojo.Student">

    select * from student where mobile=#{mobile}
  </select>

</mapper>